@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 8px;
}

label {
    font-weight: bold;
    color: #000000;
}

input[type="text"],
input[type="number"],
select[name="digital"],
input[type="file"],
select[name="category"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


button[type="submit"]:hover {
    background-color: #0056b3;
}

